#btn:hover {
    opacity: 0.5;
}

#questions {
    /* margin-left:15%; */
    font-size: 25px;
    color: azure;
    /* margin-right: 15%; */
    text-align:center;
    margin-bottom: 10px;
}

#btn-group {
    margin-right: 25%;
    background-color: #2E3047;
    margin-bottom: 5%;
}

#names {
    color:  #3BBA9C;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}

.answers-container {
    display: flex;
    justify-content: space-between;
}

#btn {
    width: 200px;
    white-space: normal;
}